---
import Layout from '@layouts/Layout.astro'
---

<Layout title="My love for Sanity.io">
	<main transition:name="headingNETLIFY DEPLOY STATUS BADGE">
		<h1>NETLIFY DEPLOY STATUS BADGE</h1>
		<p>A much easier and beautiful drag and drop generator for your Sanity studio schema.</p>

		<img
			src="https://www.shutterstock.com/shutterstock/photos/2041227701/display_1500/stock-vector-business-webinar-horizontal-banner-template-design-modern-banner-design-with-black-and-white-2041227701.jpg"
		/>
	</main>
</Layout>

<style>
	.section {
		margin-top: 15rem;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}
</style>
