---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

const allBlogPosts = await getCollection('blog', ({ data }) => {
	return data.categories?.includes('Web Development') && !data?.draft
})
const sortedBlogPosts = allBlogPosts?.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title="All posts">
	<main>
		<h1 transition:name="page-heading-blog">Personal blog by @dorelljames</h1>
		<p>I love you and coding.</p>

		<div class="section">
			<h2 class="primaryHeading">LATEST</h2>

			{
				sortedBlogPosts.map((post) => (
					<div class="projectCard">
						{/* {post.data?.featured_image && <img class="cover" src={post.data?.featured_image?.src} />} */}
						<h3>
							<a href={`/blog/${post?.slug}`} data-astro-reload>
								{post.data.title}
							</a>
						</h3>
						<div>
							<p>{post.data.description}</p>
						</div>
					</div>
				))
			}

			<p>
				It seems you have reached the end and have gone through all the blog posts. Didn't find what
				you're looking for? Perhaps, <a href="/blog">try going to the archives →</a>.
			</p>
		</div>
	</main>
</Layout>

<style>
	.section {
		margin-top: 15rem;
	}

	.cover {
		max-width: 75%;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}

	.projectCard {
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.projectCard > h3,
	.projectCard > h3 > a {
		/* margin-bottom: 24px; */
		font-family: 'DM Serif Text', serif;
		font-size: 32px;
		font-weight: 300;
		text-decoration: none;
		color: #000;
	}

	p {
		line-height: 200%;
		margin: 24px 0;
	}
</style>
