---
import { getCollection } from 'astro:content'
import Layout from '@layouts/Layout.astro'

const allBlogPosts = await getCollection('archives', ({ data }) => {
	return !data.categories?.includes('Web Development') && !data?.draft
})
const sortedBlogPosts = allBlogPosts?.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<Layout title="Archived Posts">
	<h1 transition:name="page-heading-blog-archives" transition:persist>
		Personal blog by @dorelljames
	</h1>
	<p transition:persist>I love you and coding.</p>

	<div class="section">
		<h2 class="primaryHeading">ARCHIVES</h2>

		{
			sortedBlogPosts.map((post) => (
				<div class="projectCard">
					<h3 transition:name={`post-heading-archives-${post.slug}`}>
						<a href={`/blog/archives/${post?.slug}`}>{post.data.title}</a>
					</h3>
					<div>
						<p>{post.data.description || 'You may read more to find out about it'}</p>
					</div>
				</div>
			))
		}
	</div>

	<div class="mt-12 border-t-2 border-dotted">
		<p>
			It seems you have reached the end of all these blog archives. Didn't you find what you're
			looking for? Perhaps, <a href="/blog" class="underline"
				>try going to the latest blog posts →</a
			>.
		</p>
	</div>
</Layout>

<style>
	.section {
		margin-top: 15rem;
	}

	.cover {
		max-width: 75%;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}

	.projectCard {
		margin-top: 7rem;
		margin-bottom: 7rem;
	}

	.projectCard > h3,
	.projectCard > h3 > a {
		/* margin-bottom: 24px; */
		font-family: 'DM Serif Text', serif;
		font-size: 32px;
		font-weight: 300;
		text-decoration: none;
		color: #000;
	}

	p {
		line-height: 200%;
		margin: 24px 0;
	}
</style>
