---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hi, I'm Dorell James! 👋</h1>

		<p>Your average guy that can do both frontend and backend!</p>
		<p>
			😅 I also lead / co-lead different tech communities here in Cebu namely Laravel Cebu, React
			Cebu and JavaScript Cebu. I work together with these ever so passionate and amazing people who
			relentlessly share and dedicate their time in bringing these awesome events (meetups,
			workshops and more) for the benefit of the community. 💯
		</p>

		<p>If we ever get the chance to meet, please say hi or ping me laters!😊</p>
	</main>
</Layout>
