---
import Layout from '@layouts/Layout.astro'
import Logo from '@components/Logo.astro'
import Prose from '@components/Prose.astro'
---

<Layout title="Learn about my story">
	<div class="mb-32">
		<Logo />
	</div>

	<main class="section">
		<h1 transition:name="page-heading-about" class="mb-12">Hi, I'm Dorell James! 👋</h1>

		<Prose>
			<p>
				A long long time ago, I helped someone create "3 columns of equal width" on his website.
				This experience brought me immeasurable amount of joy having completed the job, helped
				someone and make money for the first time.
			</p>

			<p>
				I thought it was perfect! But sooner as I grow into doing different things here and there, I
				realised there's more to just building "3 columns of equal width". 😅
			</p>

			<p>
				After working on several more projects, gaining more experience and creating things on my
				own, I’ve found joy not only in building things I love but also after helping others
				succeed. Now, I work with a team of highly capable individuals with exceptional talent and
				competencies, even better than mine to be honest - WebriQ.
			</p>

			<p>
				Unlike other agencies, or freelancers in the field, we know the process very well and have
				established a true and tried system to make our clients get what they want. Also, we’re not
				just one time people you asked to work on something but partners in the business.
			</p>

			<p>
				I also lead / co-lead different tech communities here in Cebu namely Laravel Cebu, React
				Cebu and JavaScript Cebu. I work together with these ever so passionate and amazing people
				who relentlessly share and dedicate their time in bringing these awesome events (meetups,
				workshops and more) for the benefit of the community. 💯
			</p>

			<p>If we ever get the chance to meet, please say hi or ping me laters!😊</p>
		</Prose>
	</main>
</Layout>
