---
import Logo from '@components/Logo.astro'
import Prose from '@components/Prose.astro'
import MeImage from '@images/me.png'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets'
---

<Layout title="About Dorell James" description="Learn my story about how I became today">
	<div class="mb-32">
		<Logo />
	</div>

	<div class="section">
		<h1 transition:name="page-heading-about">Hi, I'm Dorell James! 👋</h1>

		<Prose>
			<div transition:name="page-body-about">
				<div class="inline">
					<Image src={MeImage} alt="Me - Dorell James" width="120" />
				</div>

				<p>
					A decade ago, I helped someone create <strong>"3 columns of equal width"</strong> on his website.
					This experience brought me immeasurable amount of joy having completed the job, helped someone
					and made money for the first time.
				</p>

				<p>
					I thought it was perfect! But sooner as I grow into doing different things here and there,
					I realised there's more to just building <strong
						><em>"3 columns of equal width"</em></strong
					>. 😅
				</p>

				<p>
					After working on several more projects, gaining more experience and creating things on my
					own, I’ve found joy not only in building things I love but also after helping others
					succeed. Now, I work with a team of highly capable individuals with exceptional talent and
					competencies, even better than mine to be honest at <a
						href="https://www.webriq.com/"
						rel="nofollow noopener">WebriQ</a
					>.
				</p>

				<p>
					Unlike other companies, agencies, and/or freelancers in the field, we (WebriQ) know the
					process very well and have established a true and tried system to make our clients get
					what they want and help them succeed in their business. Also, we’re not just a one time
					thing you asked for to work on your project but we consider ourselves your partners from
					day one!
				</p>

				<p>
					I always had that believe in myself that the path to greatness is in the service to the
					many and have been paying it forward for others ever since. I lead / co-lead different
					tech communities here in Cebu namely <a
						href="https://www.facebook.com/laravelcebu"
						rel="nofollow noopener">Laravel Cebu (formerly)</a
					>, <a href="https://www.facebook.com/reactcebu" rel="nofollow noopener">React Cebu</a> and
					<a href="https://www.facebook.com/JavaScriptCebu/" rel="nofollow noopener"
						>JavaScript Cebu</a
					>. I work together with these ever so passionate and amazing people who relentlessly share
					and dedicate their time in bringing these awesome events (meetups, workshops and more) for
					the benefit of the community. 💯
				</p>

				<p>If we ever get the chance to meet, please say hi or ping me laters!😊</p>
			</div>
		</Prose>
	</div>
</Layout>
