---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="whiteText" transition:animate="fade">Sanity.io 🙌</h1>
		<a href="/">Back Home</a>

		I came to love Sanity.io as it’s the best headless CMS out there. Here are the things I’ve built
		with it.

		<p class="whiteText">Hello About</p>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;

		margin-top: 150px;
		justify-content: center;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.whiteText {
		color: #fff;
	}
</style>
