---
import Layout from '@layouts/Layout.astro'
import Logo from '@components/Logo.astro'
---

<Layout title="Full Stack Developer in Cebu City">
	<main>
		<div class="mb-12 flex flex-col justify-center text-center">
			<Logo class="mb-0" />
			<p>I love you and coding</p>
		</div>

		<div class="cardNav">
			<h2 transition:name="page-heading-about">
				<a class="underline-animation" href="/about">About</a>
			</h2>
			<p>1 short desc - 2 focus - 101% focused</p>
		</div>

		<div class="cardNav">
			<h2 transition:name="page-heading-blog">
				<a class="underline-animation" href="/blog">Blog</a>
			</h2>
			<p>2 new - 1 in progress - 12 overall</p>
		</div>

		<div class="cardNav">
			<h2 transition:name="page-heading-events">
				<a class="underline-animation" href="/events">Events</a>
			</h2>
			<p>2 upcoming - 1 in progress - 12 left this year</p>
		</div>

		<div class="cardNav">
			<h2 transition:name="page-heading-testing">
				<a class="underline-animation" href="/testing">Testing</a>
			</h2>
			<p>1 workshop - 12 videos - 3 in progress - 23% overall</p>
		</div>

		<div class="cardNav">
			<h2 transition:name="page-heading-sanity-io">
				<a class="underline-animation" href="/sanity-io">Sanity.io</a>
			</h2>
			<p>5 projects - 2 in progress - 40%</p>
		</div>
	</main>
</Layout>

<style>
	h1,
	h2 {
		font-family: 'DM Serif Text', serif;
		margin-bottom: 0;
	}

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 42px;
	}

	p {
		margin-top: 0;
	}

	.cardNav {
		text-align: center;
	}

	.underline-animation {
		position: relative;
		color: black; /* or any color you want for the text */
		text-decoration: none; /* removes default underline */
		overflow: hidden; /* ensures the pseudo-elements do not overflow */
		transition: transform 0.1s ease; /* smooth transition for lifting up */
	}

	.underline-animation::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px; /* thickness of the underline */
		background-image: linear-gradient(to right, #a855f7 50%, transparent 50%);
		background-size: 10px 2px; /* creates the dotted effect */
		transition: width 0.5s ease-in-out; /* smooth transition for the underline */
	}

	.underline-animation:hover::after {
		width: 100%; /* full width on hover */
	}

	.underline-animation:active {
		transform: translateY(-5px); /* lifts the link up by 2 pixels */
	}
</style>
