---
import Layout from '@layouts/Layout.astro'
import Logo from '@components/Logo.astro'
import { getCollection } from 'astro:content'

const [devBlogPosts, archiveBlogPosts] = await Promise.all([
	getCollection('blog', ({ data }) => {
		return data.categories?.includes('Web Development') && !data?.draft
	}),
	getCollection('archives', ({ data }) => {
		return !data.categories?.includes('Web Development') && !data?.draft
	})
])
---

<Layout title="Full Stack Developer in Cebu City">
	<main>
		<div class="mb-12 flex flex-col justify-center text-center">
			<Logo class="mb-0" />
			<p>I love you and coding</p>
		</div>

		<div class="text-left">
			<h2 transition:name="page-heading-about">
				<a class="smooth-underline" href="/about">About</a>
			</h2>
			<p class="text-gray-800" transition:name="page-body-about">
				Might I interest you in getting to know a little bit more about me?
			</p>
		</div>

		<div class="text-right">
			<h2 transition:name="page-heading-blog">
				<a class="smooth-underline-right" href="/blog">Blog</a>
			</h2>
			<p class="text-gray-800" transition:name="page-body-blog">
				1 in progress - {devBlogPosts.length || 15} dev stuff - {archiveBlogPosts.length || 12} archives
			</p>
		</div>

		<div class="text-left">
			<h2 transition:name="page-heading-events">
				<a class="smooth-underline" href="/events">Events</a>
			</h2>
			<p class="text-gray-800" transition:name="page-body-events">2 upcoming - 5 left this year</p>
		</div>

		<div class="text-right">
			<h2 transition:name="page-heading-testing">
				<a class="smooth-underline-right" href="/testing">Testing</a>
			</h2>
			<p class="text-gray-800" transition:name="page-body-testing">
				1 workshop - 12 videos - 3 in progress - 23% overall
			</p>
		</div>

		<div class="text-left">
			<h2 transition:name="page-heading-sanity-io">
				<a class="smooth-underline" href="/sanity-io">Sanity.io</a>
			</h2>
			<p class="text-gray-800" transition:name="page-body-sanity-io">
				5 projects - 2 in progress - 40%
			</p>
		</div>
	</main>
</Layout>

<style>
	h1,
	h2 {
		font-family: 'DM Serif Text', serif;
		margin-bottom: 0;
	}

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 42px;
	}

	p {
		margin-top: 0;
	}

	.smooth-underline {
		position: relative;
		color: black; /* or any color you want for the text */
		text-decoration: none; /* removes default underline */
		overflow: hidden; /* ensures the pseudo-elements do not overflow */
		transition: transform 0.1s ease; /* smooth transition for lifting up */
	}

	.smooth-underline::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px; /* thickness of the underline */
		background-image: linear-gradient(to right, #a855f7 50%, transparent 50%);
		background-size: 10px 2px; /* creates the dotted effect */
		transition: width 0.5s ease-in-out; /* smooth transition for the underline */
	}

	.smooth-underline:hover::after {
		width: 100%; /* full width on hover */
	}

	.smooth-underline:active {
		transform: translateY(-5px); /* lifts the link up by 2 pixels */
	}
</style>
