---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Dorell James">
	<main>
		<div>
			<h2>DORELL JAMES</h2><p>I love you and coding</p>
		</div>

		<hr />

		<a href="/sanity">Sanity.io</a>
		<a href="/blog">Blog</a>
	</main>
</Layout>
