---
import clsx from 'clsx'

const currentPath = Astro.url.pathname
---

<footer class={clsx('mt-32', ['/'].includes(currentPath) ? 'text-center' : '')}>
	<p>
		Copyright &copy; {new Date().getFullYear()}, d||ell. Build with <a
			href="https://astro.build/"
			target="_blank"
			rel="nofollow">Astro <small>↗</small></a
		>. Source on <a href="https://github.com/dorelljames/dorellastro" target="_blank" rel="nofollow"
			>GitHub <small>↗</small></a
		>
	</p>
</footer>
