---

---

<footer>
	<p>
		Copyright &copy; {new Date().getFullYear()}, d||ell. Build with <a
			href="https://astro.build/"
			target="_blank">Astro</a
		>. Source on <a href="https://github.com/dorelljames/dorellastro" target="_blank">GitHub</a>
	</p>
</footer>
