---
import '@fontsource/varela-round'
---

<div class="text-center">
	<a
		href="/"
		class="transition-colors duration-300 ease-in-out hover:text-purple-500 dark:hover:text-purple-400"
		>d||ell</a
	>
</div>

<style>
	a {
		text-align: center;
		font-size: 48px;
		font-weight: bolder;
		font-family: 'Varela Round', sans-serif;
	}
</style>
