---
import '@fontsource/varela-round'
---

<div class="text-center">
	<a href="/">d||ell</a>
</div>

<style>
	a {
		text-align: center;
		font-size: 48px;
		font-family: 'Varela Round', sans-serif;
	}
</style>
