---
import Layout from '@layouts/Layout.astro'
---

<Layout title="My love for Sanity.io">
	<main transition:name="headingSIMPLE DOCUMENT MIGRATE TOOL">
		<h1>SIMPLE DOCUMENT MIGRATE TOOL</h1>
		<p>
			Load up a document or a set of documents and easily migrate a field or a few to the new one.
		</p>

		<img
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLq69iCFlkokrfbvVyjCEkx8948pph07uFuLDShRssyA&s"
		/>
	</main>
</Layout>

<style>
	.section {
		margin-top: 15rem;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}
</style>
