---
import Layout from '@layouts/Layout.astro'
import Prose from '@components/Prose.astro'
import { toNow } from 'src/utils'
---

<Layout title="My love for Sanity.io">
	<main transition:name="headingSIMPLE DOCUMENT MIGRATE TOOL">
		<h1>SIMPLE DOCUMENT MIGRATE TOOL</h1>
		<p>Easily migrate a field or a few to the new one visually.</p>

		<Prose>
			<hr />

			<small>UPDATES</small>

			<ul>
				<li>
					<p>
						Created and discovery phase -
						<small>{toNow(new Date('05/14/24 09:15 AM'))}</small>
					</p>
				</li>
			</ul>
		</Prose>
	</main>
</Layout>

<style>
	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}
</style>
