---
import Layout from '@layouts/Layout.astro'
import Prose from '@components/Prose.astro'
import { Image } from 'astro:assets'
import ExampleImage from './example.png'
import { toNow } from 'src/utils'
---

<Layout title="UI Schema Generator">
	<main transition:name="headingUI SCHEMA GENERATOR">
		<h1>UI SCHEMA GENERATOR</h1>
		<p>A beautiful drag and drop generator for your schemas in Sanity.io.</p>

		<Prose>
			<p>
				While it's easier for devs to do content modeling, it's not so for others. I built this tool
				for those who want to quickly get into modeling their data by visualizing. It's just easier
				if you don't have to think much, right?
			</p>

			<Image src={ExampleImage} alt="Sanity UI Schema Generator" />

			<a>Demo link will be available soon.</a>

			<hr />

			<small>UPDATES</small>

			<ul>
				<li>
					<p>
						Initial <a
							href="https://github.com/dorelljames/sanity-ui-schema-generator/"
							target="_blank">setup</a
						>. Yay!
						<small>{toNow(new Date('05/22/24 08:00 AM'))}</small>
					</p>
					<p>
						Created <a
							target="_blank"
							href="https://www.figma.com/design/kEpcPu54DhJ7GXvJ7Csz4Y/Sanity-Content-Builder?node-id=1%3A83&t=bcbHsxZFSWACshNc-1"
							>initial mockup</a
						> -
						<small>{toNow(new Date('05/15/24 09:15 AM'))}</small>
					</p>
				</li>
			</ul>
		</Prose>
	</main>
</Layout>

<style>
	.section {
		margin: 15rem 0;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}
</style>
