---
import Layout from '@layouts/Layout.astro'

const { title } = Astro.props
---

<Layout title="UI Schema Generator">
	<main transition:name="headingUI SCHEMA GENERATOR">
		<h1>UI SCHEMA GENERATOR</h1>
		<p>A beautiful drag and drop generator for your schemas in Sanity.io.</p>

		<p>
			We've built many schemas but coded it. While it's easier for devs, with convenience there
			comes a price of being easy to
		</p>
	</main>
</Layout>

<style>
	.section {
		margin: 15rem 0;
	}

	h1 {
		font-family: 'DM Serif Text', serif;
		font-size: 42px;
		font-weight: 500;
	}

	.primaryHeading {
		letter-spacing: 12px;
		font-weight: 400;
	}
</style>
