---
import '@fontsource-variable/dm-sans'
import '@fontsource/dm-serif-text'
import { ViewTransitions } from 'astro:transitions'

import Footer from '@components/Footer.astro'

interface Props {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | d||ell</title>
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-39533448-1"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				window.dataLayer && window.dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'UA-39533448-1')
			gtag('config', 'G-9Y1N7DRP5N')
		</script>

		<ViewTransitions />
	</head>
	<body>
		<main class="m-auto max-w-prose px-6">
			<slot />
			<Footer />
		</main>
		<style is:global>
			body {
				font-family: 'DM Sans Variable', sans-serif;
				box-sizing: border-box;
			}

			main {
				padding: 24px 0;
			}

			h1 {
				font-family: 'DM Serif Text', serif;
				font-size: 42px;
				font-weight: 500;
			}

			p {
				line-height: 200%;
				margin: 24px 0;
			}

			.section {
				margin: 15rem 0;
			}

			.smooth-underline {
				position: relative;
				color: black; /* or any color you want for the text */
				text-decoration: none; /* removes default underline */
				overflow: hidden; /* ensures the pseudo-elements do not overflow */
			}

			.smooth-underline::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 0;
				height: 2px; /* thickness of the underline */
				background-image: linear-gradient(to right, #a855f7 50%, transparent 50%);
				background-size: 8px 2px; /* creates the dotted effect */
				transition: width 0.5s ease-in-out; /* smooth transition for the underline */
			}

			.smooth-underline:hover::after {
				width: 100%; /* full width on hover */
			}

			.smooth-underline-right {
				position: relative;
				color: black; /* or any color you want for the text */
				text-decoration: none; /* removes default underline */
				overflow: hidden; /* ensures the pseudo-elements do not overflow */
			}

			.smooth-underline-right::after {
				content: '';
				position: absolute;
				right: 0; /* start from the right */
				bottom: 0;
				width: 0;
				height: 2px; /* thickness of the underline */
				background-image: linear-gradient(
					to left,
					#a855f7 50%,
					transparent 50%
				); /* reverse gradient direction */
				background-size: 8px 2px; /* creates the dotted effect */
				transition: width 0.5s ease-in-out; /* smooth transition for the underline */
			}

			.smooth-underline-right:hover::after {
				width: 100%; /* full width on hover */
			}

			.container {
				position: relative;
				overflow: hidden;
				width: 100%;
				padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
			}

			/* Then style the iframe to fit in the container div with full height and width */
			.responsive-iframe {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
		</style>

		<script>
			// On page load or when changing themes, best to add inline in `head` to avoid FOUC
			if (
				localStorage.theme === 'dark' ||
				(!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}

			// Whenever the user explicitly chooses light mode
			localStorage.theme = 'light'

			// Whenever the user explicitly chooses dark mode
			localStorage.theme = 'dark'

			// Whenever the user explicitly chooses to respect the OS preference
			localStorage.removeItem('theme')
		</script>
	</body>
</html>
